{% extends 'base.html' %} {% block body %}
<h2>Book List</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="title">Title:</label>
      <input type="text" id="title" name="btitle" />
    </p>
    <p>
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" />
    </p>
    <p>
      <label for="pages">Pages:</label>
      <input type="text" id="pages" name="pages" />
    </p>
    <label>Classification</label>
    <input type="radio" id="non-fiction" name="classification" value="Non-fiction">
    <label for="non-fiction">Non-Fiction</label>
    <input type="radio" id="fiction" name="classification" value="Fiction">
    <label for="fiction">Fiction</label>
          

    <fieldset>
      <legend>Details</legend>
      <label for="owned">
        <input
          type="checkbox"
          id="owned"
          name="details"
          value="owned"
        />
        I own this book
      </label>
      <nav></nav>
      <label for="read-only">
        <input
          type="checkbox"
          id="read-only"
          name="details"
          value="read-only"
        />
        Ive read this book
      </label>
      <nav></nav>
      <label for="liked">
        <input
          type="checkbox"
          id="liked"
          name="details"
          value="liked"
        />
        I liked this book
      </label>
      <nav></nav>
      <label for="rec">
        <input
          type="checkbox"
          id="rec"
          name="details"
          value="rec"
        />
        I recommend this book
      </label>
    </fieldset>
    <nav></nav>
    <label for="get_book">How did you get this book:</label>

      <select name="get_book" id="get_book">
      <option value="bought">I bought it myself</option>
      <option value="gift">It was a gift</option>
      <option value="lib">Got it from the library</option>
      <option value="loan">A friend loaned it to me</option>
    </select>

    <p><input type="submit" id="add_book" value="Add Book" /></p>
  </form>


  <br /><br />
  {% if books %}
  <h3>Book List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.classification }}</td>
        <td>{{ book.details }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}